{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JAIPOTHYEXIM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->


  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>JAIPOTHYEXIM<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'aboutus' %}">About us</a></li>
          <li class="dropdown"><a href="#"><span>Product</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'kitchen' %}">Kitchen Products</a></li>
              <li><a href="{% url 'engeneering' %}">Engineering Items</a></li>
              <li><a href="{% url 'spa' %}">SPA Products</a></li>
              <li><a href="{% url 'furniture' %}">Furniture</a></li>
              <li><a href="{% url 'veg' %}">Grocery</a></li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
    
        </ul>
       
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Engineering Products</h2>
      <p>Building Innovation, Engineering Excellence</p>
    </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 portfolio-container">

        <div class="col-xl-3 col-md-5 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e1.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Drilling Machine </a></h4>
              <p>Our robust Drilling Machine offers precision and power for a variety of drilling tasks, making it a reliable and efficient tool for both professionals and DIY enthusiasts.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-5 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e2.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Trolleys </a></h4>
              <p>Our versatile Trolleys provide convenient mobility and storage solutions for various purposes, offering sturdy construction and designed for effortless transportation.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e3.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Electric Branding Iron  </a></h4>
              <p>The Electric Branding Iron delivers precise and permanent branding results, allowing you to customize your creations with professional-grade precision and clarity.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e4.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e4.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Hex Key Sets  </a></h4>
              <p>The Hex Key Sets offer a comprehensive range of high-quality hex keys, providing durability for efficient assembly and maintenance of various mechanical .</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e5.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e5.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Solar Cycle Light  </a></h4>
              <p>The Solar Cycle Light harnesses solar energy to power its bright LED lights, providing eco-friendly and convenient illumination for safe and enjoyable cycling adventures.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e6.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e6.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Fishing Spinning Reel  </a></h4>
              <p>Fishing Spinning Reel offers smooth performance, featuring a lightweight design, durable construction, and precise drag system for an exceptional angling experience.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e7.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e7.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">PVC Fittings </a></h4>
              <p>PVC Fittings provide reliable and leak-proof connections, designed for easy installation and compatibility with a wide range of plumbing and irrigation systems.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e8.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e8.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Pipes </a></h4>
              <p>Pipes offer excellent  corrosion resistance, ensuring efficient and long-lasting performance in plumbing, and other fluid transportation applications.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e9.jpg'%}%" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e9.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Wire Rolls  </a></h4>
              <p>Wire Rolls provide versatile and reliable wire solutions, offering excellent conductivity, durability, and flexibility for a wide range of electrical and wiring applications.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e10.jpg'%}%" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e10.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">LED Light Strips</a></h4>
              <p>Illuminate any space with vibrant and energy-efficient lighting, featuring customizable colors, and easy installation for endless creative possibilities.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e11.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e11.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Stablizers </a></h4>
              <p>Ensure stable and reliable power supply, protecting sensitive electronic equipment from voltage fluctuations and ensuring smooth operation and optimal performance.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e12.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e12.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Batteries </a></h4>
              <p>Batteries provide long-lasting and reliable power for various devices, delivering exceptional performance and durability to keep you powered up anytime, anywhere.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e13.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e13.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Capacitors </a></h4>
              <p>Offering efficient power regulation and improved performance in electronic circuits, ensuring smooth operation and enhanced functionality.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e14.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e14.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Web Cams </a></h4>
              <p> Webcams deliver high-definition video enabling immersive online experiences for remote meetings, video conferences, and live streaming.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e15.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e15.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Fuel Filter </a></h4>
              <p>Efficiently remove impurities and contaminants from fuel, safeguarding engines from damage and ensuring optimal performance and fuel efficiency.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e16.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e16.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Block Machine </a></h4>
              <p>A efficient solution for producing high-quality concrete blocks, offering durability, and increased productivity for construction.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e17.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e17.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Geo Bags</a></h4>
              <p>Geo Bags offer effective erosion control and sediment containment solutions, providing strength and stability.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e18.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e18.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Wood Planer Machine </a></h4>
              <p>Smooth surface finishing, featuring adjustable cutting depths and sturdy construction for leveling of wood materials.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e19.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e19.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Electric Bikes</a></h4>
              <p>Eco-friendly transportation with convenience and style, offering pedal-assist and electric modes for effortless commuting and enjoyable rides with reduced emissions.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e20.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e20.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Hand Tools</a></h4>
              <p>Hand Tools collection provides durable tools for various tasks, offering versatility to tackle any project with ease and efficiency.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e21.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e21.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Aluminum</a></h4>
              <p>We provide raw Aluminum renowned for its remarkable strength, lightweight nature, serving with unmatched versatility.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e22.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e22.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Bicycle Parts</a></h4>
              <p> Extensive range of top-quality bicycle parts,providing reliable components that optimize performance, durability, and riding comfort for every cycling adventure.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e23.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e23.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Machine Tools</a></h4>
              <p> Comprehensive selection of precision Machine Tools caters to diverse industries, delivering reliability for optimal productivity and exceptional machining results.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e24.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e24.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Lead</a></h4>
              <p>As a leading supplier, we offer high-quality raw Lead material, known for its excellent malleability and versatility for various industrial applications.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e25.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e25.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Copper</a></h4>
              <p>We offer premium quality raw copper, renowned for its exceptional conductivity, durability, and versatility in diverse industrial and electrical applications.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e26.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e26.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Auto Tires</a></h4>
              <p>Top-notch Auto Tires designed for superior performance, optimal traction, and enhanced safety, ensuring a smooth and comfortable ride for every journey.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/eng/e27.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e27.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Tin</a></h4>
              <p>With utmost quality, we supply raw tin, a versatile and malleable metal known for its corrosion resistance, low toxicity, and wide range of industrial applications.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 
      </div><!-- End Portfolio Container -->

    </div>

  </div>
</section><!-- End Portfolio Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>JAIPOTHYEXIM</span>
          </a>
          <p>Innovative solutions for every room in your home and beyond.</p>
          <img src="{% static 'img/logo2.png'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Head Office:</strong><br>
            No:18 Surya Avenue Main Road <br>
            Kurunji Nagar <br>
            Chrompet Chennai -600044
            <br>
            <strong>Phone-1:</strong>7358690646 <br>
            <strong>Email:</strong>Jaipothyexim@gmail.com<br>
          </p>

        </div>
        <div class="col-lg-2 col-md-12 footer-contact text-center text-md-start">
          <p>
            <strong>Branch Office:</strong><br>
            39/3 Kasi Thangam Complex <br>
            Santhai Road <br>
            Thoothukudi-628002 <br><br>
            <strong>Phone-1:</strong> 9789183098<br>
            <strong>Phone-2:</strong> 9790010108<br>
          </p>
          
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendor/aos/aos.js'%}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>