{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JAIPOTHYEXIM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->


  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>JAIPOTHYEXIM<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'aboutus' %}">About us</a></li>
          <li class="dropdown"><a href="#"><span>Product</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'kitchen' %}">Kitchen Products</a></li>
              <li><a href="{% url 'engeneering' %}">Engineering Items</a></li>
              <li><a href="{% url 'spa' %}">SPA Products</a></li>
              <li><a href="{% url 'furniture' %}">Furniture</a></li>
              <li><a href="{% url 'veg' %}">Grocery</a></li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
    
        </ul>
       
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>JAIPOTHYEXIM</span></h2>
          <p><strong>Innovative solutions for every room in your home and beyond.</strong></p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{% url 'aboutus' %}" class="btn-get-started">Get Started</a>
            <a href="https://youtu.be/aS6E8bzFUbM" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'img/logo.png'%}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4 mt-5">
         
          <div class="col-xl-3 col-md-5" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-utensils"></i></div>
              <h4 class="title"><a href="{% url 'kitchen' %}" class="stretched-link">Kitchen Products</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-2 col-md-5" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-tools"></i></div>
              <h4 class="title"><a href="{% url 'engeneering' %}" class="stretched-link">Engineering Items</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-2 col-md-5 "data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-spa"></i></div>
              <h4 class="title"><a href="{% url 'spa' %}" class="stretched-link">SPA Products</a></h4>
            </div>
          </div><!--End Icon Box -->
          <div class="col-xl-2 col-md-5" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-couch"></i></div>
              <h4 class="title"><a href="{% url 'furniture' %}" class="stretched-link">Furniture</a></h4>
            </div>
          </div><!--End Icon Box -->
          <div class="col-xl-3 col-md-5" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-shopping-cart"></i></div>
              <h4 class="title"><a href="{% url 'veg' %}" class="stretched-link">Grocery</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
<!-- End Hero Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Best Sellers</h2>
         
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Kitchen</li>
              <li data-filter=".filter-product">Engineering</li>
              <li data-filter=".filter-branding">Spa</li>
              
            </ul><!-- End Portfolio Filters -->
          </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-3 col-md-5 portfolio-item filter-app ">
              <div class="portfolio-wrap">
                <a href="{% static 'img/1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'kitchen' %}" title="More Details">Cookware set </a></h4>
                  <p>A must-have for any kitchen enthusiast. crafted for exceptional cooking experiences. With its non-stick coating, durable construction, and stylish design.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-5 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'img/eng/e1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'engeneering' %}" title="More Details">Drilling Machine </a></h4>
                  <p>Our robust Drilling Machine offers precision and power for a variety of drilling tasks, making it a reliable and efficient tool for both professionals and DIY enthusiasts.r</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'img/spa/s11.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/spa/s11.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'spa' %}" title="More Details">Aroma Candles </a></h4>
                  <p>Infused with delightful scents, they fill the air with relaxation and serenity, creating a tranquil atmosphere for pure bliss and rejuvenation.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'img/spa/s4.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/spa/s4.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'spa' %}" title="More Details">Singing Bowls</a></h4>
                  <p>Singing Bowls resonate with soothing and harmonious tones, handcrafted with precision and care, offering a meditative and immersive experience for relaxation, healing, and spiritual practices.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'img/5.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/5.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'kitchen' %}" title="More Details">Bowl set </a></h4>
                  <p>Our bowl set is a stylish and practical addition to your kitchen. Made from high-quality.With their elegant design and various sizes, they offer versatility and functionality for all your dining needs.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'img/eng/e5.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e5.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'engeneering' %}" title="More Details">Solar Cycle Light  </a></h4>
                  <p>The Solar Cycle Light harnesses solar energy to power its bright LED lights, providing eco-friendly and convenient illumination for safe and enjoyable cycling adventures.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'img/spa/s7.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/spa/s7.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'spa' %}" title="More Details">Massaging Oils </a></h4>
                  <p>Massaging Oils are expertly blended to provide the ultimate relaxation experience, relieving tension and nourishing the skin with their soothing and rejuvenating properties.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            

            <div class="col-xl-3 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'img/9.jpg'%}%" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/9.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'kitchen' %}" title="More Details">Copper Thaali set </a></h4>
                  <p>A traditional and exquisite addition to your dining experience. Crafted with pure copper, this set offers both aesthetic beauty and health benefits. With its intricate designs and multiple compartments.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'img/eng/e18.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/eng/e18.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'engeneering' %}" title="More Details">Wood Planer Machine </a></h4>
                  <p>Smooth surface finishing, featuring adjustable cutting depths and sturdy construction for leveling of wood materials.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item --> 

            

          

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->




     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Eco Products</h2>
         
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">


          <div class="row gy-4 portfolio-container">
            <div class="col-xl-3 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'img/veg/v6.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/veg/v6.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="" title="More Details">Coir Pith Blocks </a></h4>
                  <p>Our Coir Pith Blocks serve as a versatile and eco-friendly substrate for plants, providing optimal moisture retention and aeration.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
    
            <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'img/veg/v3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/veg/v3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="" title="More Details">Cow Dung</a></h4>
                  <p>Embrace eco-friendly gardening practices with our cow dung, a renewable and sustainable resource for nurturing vibrant gardens. </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
    
           

            

          

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>JAIPOTHYEXIM</span>
          </a>
          <p>Innovative solutions for every room in your home and beyond.</p>
          <img src="{% static 'img/logo2.png'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Head Office:</strong><br>
            No:18 Surya Avenue Main Road <br>
            Kurunji Nagar <br>
            Chrompet Chennai -600044
            <br>
            <strong>Phone-1:</strong>7358690646 <br>
            <strong>Email:</strong>Jaipothyexim@gmail.com<br>
          </p>

        </div>
        <div class="col-lg-2 col-md-12 footer-contact text-center text-md-start">
          <p>
            <strong>Branch Office:</strong><br>
            39/3 Kasi Thangam Complex <br>
            Santhai Road <br>
            Thoothukudi-628002 <br><br>
            <strong>Phone-1:</strong> 9789183098<br>
            <strong>Phone-2:</strong> 9790010108<br>
          </p>
          
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendor/aos/aos.js'%}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>