{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JAIPOTHYEXIM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/arkhip" rel="stylesheet">
                
  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->


  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>JAIPOTHYEXIM<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'aboutus' %}">About us</a></li>
          <li class="dropdown"><a href="#"><span>Product</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'kitchen' %}">Kitchen Products</a></li>
              <li><a href="{% url 'engeneering' %}">Engineering Items</a></li>
              <li><a href="{% url 'spa' %}">SPA Products</a></li>
              <li><a href="{% url 'furniture' %}">Furniture</a></li>
              <li><a href="{% url 'veg' %}">Grocery</a></li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
    
        </ul>
       
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->
<!-- ======= Portfolio Details Section ======= -->
 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Kitchen Products</h2>
      <p>Better tools better Kitchen</p>
    </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 portfolio-container">

        <div class="col-xl-3 col-md-5 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a href="{% static 'img/1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/1.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info justify-content-center">
              <h4><a href="" title="More Details">Cookware set </a></h4>
              <p>A must-have for any kitchen enthusiast. crafted for exceptional cooking experiences. With its non-stick coating, durable construction, and stylish design. </p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-5 portfolio-item filter-product">
          <div class="portfolio-wrap justify-content-center">
            <a href="{% static 'img/2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/2.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Spatula</a></h4>
              <p>The kitchen tool for flipping ,stirring, and serving. Made with high-quality, heat-resistant materials,Its ergonomic design and non-slip handle provide comfort and control.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
          <div class="portfolio-wrap justify-content-center">
            <a href="{% static 'img/3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/3.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Dining set </a></h4>
              <p>Our elegant dining set combines style and functionality to elevate your dining experience. it offers durability and timeless beauty. it's perfect for everyday meals.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap justify-content-center">
            <a href="{% static 'img/4.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/4.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Camshelf </a></h4>
              <p>The Camshelf, a versatile storage solution for your home or office. With its sleek design and sturdy construction, it provides ample space to organize and display your belongings.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap justify-content-center">
            <a href="{% static 'img/5.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/5.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Bowl set </a></h4>
              <p>Our bowl set is a stylish and practical addition to your kitchen. With their elegant design and various sizes, they offer versatility and functionality for all your dining needs.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <a href="{% static 'img/6.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/6.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Manual Blenders </a></h4>
              <p>
                A compact and convenient tool for blending on the go. With its ergonomic design and easy-grip handle, it allows for effortless blending of smoothies, sauces, and more.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
          <div class="portfolio-wrap">
            <a href="{% static 'img/7.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/7.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Plates </a></h4>
              <p>These plates are the epitome of elegance and practicality for your dining table. Crafted with high-quality, they boast a timeless design that complements any culinary creation. </p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/8.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/8.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Serving Spoons </a></h4>
              <p>The ideal utensils for dishing out culinary delights. Made with premium stainless steel, they offer durability and a polished look. With their comfortable handles and generous bowl size.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a href="{% static 'img/9.jpg'%}%" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/9.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Copper Thaali set </a></h4>
              <p>A traditional and exquisite addition to your dining experience. Crafted with pure copper, this set offers both aesthetic beauty and health benefits. With its intricate designs and multiple compartments.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <a href="{% static 'img/10.jpg'%}%" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/10.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Copper Cookware Sets </a></h4>
              <p>Copper Cookware Set combines timeless elegance with exceptional cooking performance. Crafted with high-quality copper, this set offers superior heat conductivity for precise temperature control.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-branding">
          <div class="portfolio-wrap">
            <a href="{% static 'img/11.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/11.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Terracotta Cookwares </a></h4>
              <p> A rustic and versatile addition to your kitchen. Handcrafted with natural clay, these cookwares offer excellent heat retention and even distribution for flavorful cooking. r</p>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/12.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/12.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Terracotta Glasses </a></h4>
              <p>stylish and eco-friendly alternative to traditional glassware. Handcrafted from natural clay, these glasses offer a unique texture and rustic charm. </p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/13.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/13.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Terracotta Kadai </a></h4>
              <p>A versatile and traditional cooking vessel for your kitchen. Handmade from natural clay, this kadai offers exceptional heat retention and even cooking for delicious culinary results. </p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/14.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/14.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Wooden Bowl Sets </a></h4>
              <p>Our Wooden Bowl Sets bring natural beauty and functionality to your dining table. Handcrafted from sustainable hardwood, these bowls are not only eco-friendly but also durable and long-lasting.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/15.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/15.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Electric Blenders </a></h4>
              <p>a powerful and versatile kitchen appliance designed to simplify your blending tasks. With its high-speed motor and sharp stainless steel blades, it effortlessly blends smoothies, shakes, soups, and more to perfection.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/16.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/16.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Microwave Oven </a></h4>
              <p>Microwave oven providing convenience and efficiency in cooking. With its advanced technology and spacious interior, it allows you to quickly and easily heat, defrost, and cook a wide variety of dishes.</p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/17.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/17.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Oven Toaster Grill </a></h4>
              <p> The appliance that brings baking, toasting, and grilling capabilities to your kitchen. With its compact design and multiple cooking modes, it offers flexibility and convenience for a wide range of culinary creations. </p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 

        <div class="col-xl-3 col-md-6 portfolio-item filter-books">
          <div class="portfolio-wrap">
            <a href="{% static 'img/18.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/18.jpg'%}" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Cup And saucer Set </a></h4>
              <p>Cup and Saucer Set is a charming and elegant addition to your tea or coffee time. Crafted with fine porcelain, these cups and saucers offer a delicate and timeless design. </p>
            </div>
          </div>
        </div><!-- End Portfolio Item --> 


      </div><!-- End Portfolio Container -->

    </div>

  </div>
</section><!-- End Portfolio Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>JAIPOTHYEXIM</span>
          </a>
          <p>Innovative solutions for every room in your home and beyond.</p>
        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Head Office:</strong><br>
            No:18 Surya Avenue Main Road <br>
            Kurunji Nagar <br>
            Thoothukudi-628002 <br>
            <strong>Phone-1:</strong> 9789183098<br>
            <strong>Phone-2:</strong> 9790010108<br>
          </p>

        </div>
        <div class="col-lg-2 col-md-12 footer-contact text-center text-md-start">
          <p>
            <strong>Branch Office:</strong><br>
            39/3 Kasi Thangam Complex <br>
            Santhai Road <br>
            Thoothukudi-628002 <br><br>
            <strong>Phone-1:</strong> 9789183098<br>
            <strong>Phone-2:</strong> 9790010108<br>
          </p>
          
        </div>

      </div>
    </div>

  

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendor/aos/aos.js'%}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>